In [ ]:
num = int(input("숫자를 입력하세요: "))
if num %2 == 0:
  print("짝수입니다")
else:
  print("홀수입니다")

숫자를 입력하세요: 653199
홀수입니다

In [ ]:
height1 = int(input("첫 번째 학생의 키를 입력하세요: "))
height2 = int(input("두 번째 학생의 키를 입력하세요: "))

if height1 > height2:
  diff = height1 - height2
else:
  diff = height2 - height1

print("두 학생의 키 차이는",diff,"입니다.")

첫 번째 학생의 키를 입력하세요: 167
두 번째 학생의 키를 입력하세요: 185
두 학생의 키 차이는 18 입니다.

In [ ]:
age = int(input("나이를 입력하세요: "))
fee = 5000

if age<8 or age>=65:
  fee = 0
elif age >=8 and age < 14:
  fee = fee*0.5
elif age >=14 and age<19:
  fee = fee*0.75
else:
  fee = fee

print("입장료는",int(fee),"원입니다.")

나이를 입력하세요: 6
입장료는 0 원입니다.

In [ ]:
grade = int(input("점수를 입력하세요: "))

if grade >= 90:
  print("A")
elif grade>=70 and grade<90:
  print("B")
elif grade>=60 and grade<70:
  print("C")
elif grade<60 and grade>=0:
  print("D")
else:
  print("잘못된 점수입니다.")

점수를 입력하세요: 87
B

In [ ]:
#중첩구조를 활용: if 안에 if가 있다면?

score = int(input("점수를 입력하세요: "))

if score>=0 and score <=100:
  if score >= 90:
    print("학점:A")
  elif score >= 70:
    print("학점:B")
  elif score >= 60:
    print("학점:C")
  else:
    print("학점:D")

else:
  print("잘못된 점수입니다.")

점수를 입력하세요: 65
학점:C

In [ ]:
sum = 0

for a in range(1,6):
  sum = sum + a

print("1부터 5까지의 합은",sum,"입니다.")

#들여쓰기, 내어쓰기가 중요하다~!

1부터 5까지의 합은 15 입니다.

In [ ]:
sum = 0
for a in range(1,101):
  sum = sum + a
print("1부터 100까지의 합은",sum,"입니다.")

1부터 100까지의 합은 5050 입니다.

In [ ]:
#1~100까지의 수 중 짝수의 합과 홀수의 합 따로 구하기

even_sum = 0
odd_sum = 0

for a in range(1,101):
  if a % 2 == 0:
    even_sum = even_sum + a
  else:
    odd_sum = odd_sum + a

print("1~100까지의 수 중 짝수의 합은", even_sum, "입니다.")
print("1~100까지의 수 중 홀수의 합은", odd_sum, "입니다.")

1~100까지의 수 중 짝수의 합은 2550 입니다.
1~100까지의 수 중 홀수의 합은 2500 입니다.

### `range()` 함수

`range()` 함수는 지정된 범위의 정수를 순차적으로 생성하는 이터레이터(iterator)를 반환합니다. `list()` 함수와 함께 사용하여 리스트 형태로 확인할 수 있습니다.

**사용 방법:**

1.  **`range(stop)`**: 0부터 `stop - 1`까지의 정수를 생성합니다. `stop` 값은 포함되지 않습니다.

In [ ]:
    # 예시: 2부터 6까지 (7은 포함 안 됨)
    print(list(range(2, 7)))

In [ ]:
    # 예시: 1부터 10까지 2씩 증가
    print(list(range(1, 11, 2)))

    # 예시: 10부터 1까지 1씩 감소
    print(list(range(10, 0, -1)))

In [ ]:
#1~100까지 짝수합과 홀수합을 출력하시오

sum = 0
for a in range(1,101,2):
  sum = sum + a
print("1부터 100까지의 홀수 합은",sum,"입니다.")

sum = 0
for a in range(0,101,2):
  sum = sum + a
print("1부터 100까지의 짝수 합은",sum,"입니다.")

1부터 100까지의 홀수 합은 2500 입니다.
1부터 100까지의 짝수 합은 2550 입니다.

In [ ]:
#5만원 모으기

sum = 0
money = 100
day = 1

while sum < 50000:
  sum = sum + money
  money = money + 100
  day = day + 1

print("총",day,"일이 걸립니다.")

총 33 일이 걸립니다.

In [ ]:
#숫자를 입력받아서 총합을 구하는 프로그램을 작성하시오. 단 0을 입력되면 종료되고 최종 총합을 출력한다.

total_sum = 0

while True:
  num = int(input("숫자를 입력하세요 (종료하려면 0 입력): "))
  if num == 0:
    break
  total_sum = total_sum + num

print("입력된 숫자들의 총합은", total_sum, "입니다.") # 최종 총합 출력

숫자를 입력하세요 (종료하려면 0 입력): 524
숫자를 입력하세요 (종료하려면 0 입력): 222
숫자를 입력하세요 (종료하려면 0 입력): 62
숫자를 입력하세요 (종료하려면 0 입력): 81
숫자를 입력하세요 (종료하려면 0 입력): 2
숫자를 입력하세요 (종료하려면 0 입력): 0
입력된 숫자들의 총합은 891 입니다.