In [2]:
#name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입
name = '홍길동'
age=18

In [7]:
#colab 또는 jupyter notebook에서는, print 없이도 변수의 값 출력이 가능하다.
name

'홍길동'

In [4]:
age

18

In [5]:
print(name)
print(age)

홍길동
18

In [14]:
c=10

In [15]:
b=c

In [16]:
a=b

In [17]:
print(a,b,c)

10 10 10

In [18]:
a=a+10

In [19]:
a

20

In [ ]:
age=100

In [21]:
#파이썬은 대문자/소문자 확실히 구별한다
AGE

NameError: name 'AGE' is not defined

In [34]:
#a의 값인 7과 b의 값인 11을 교환하는 프로그램이 있습니다.
a=7
b=11

In [41]:
# a와 b의 초기 값 설정
a = 7
b = 11

# c 변수를 사용하여 a와 b의 값 교환
c = a   # c에 a의 값을 임시 저장
a = b   # a에 b의 값을 저장
b = c   # b에 c에 임시 저장했던 a의 값을 저장

# 교환 후 a와 b의 값 출력
print("교환 후 a:", a)
print("교환 후 b:", b)

교환 후 a: 11
교환 후 b: 7

In [ ]:
#a와b변수의 값을 교환하는 동작을 한 문장으로 나타낼 수 있습니다.

In [ ]:
#name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입
name = '홍길동'
age - 18

In [42]:
name

'홍길동'

In [43]:
type(name)

str

In [44]:
height=180.5

In [45]:
type(height)

float

In [47]:
flag=True

In [48]:
type(flag)

bool

In [49]:
a=20
b=0o34
c=0xA1
d=0b1110

In [50]:
print(a)
print(b)
print(c)
print(d)

20
28
161
14

In [52]:
c,d=30,40

In [53]:
c

30

In [54]:
d

40

In [58]:
#a의 값을 '논리형'으로 저장
a=10>20

In [57]:
a

False

In [59]:
type(a)

bool

In [60]:
a='python'

In [61]:
a="python"
#곁따옴표와 홑따옴표는 상관이 없다.

In [62]:
a='Hi!'+'Python'

In [63]:
a

'Hi!Python'

In [79]:
a=10
b='10'
c=a+b
#TypeError: 연산을 하고자하는 두 자료형이 안 맞다

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [77]:
c=str(a)+b
print(c)
#문자+문자로 일치

1010

In [81]:
#숫자+숫자로 일치
c=a+int(b)
print(c)

20

In [82]:
#소수점나오도록
c=a+float(b)
print(c)

20.0

In [84]:
#실수형을 정수형으로 변환
int(c)

20

In [100]:
name=input('이름을 입력')
age=input('나이를 입력')

이름을 입력홍길동
나이를 입력18

In [101]:
type(name)

str

In [102]:
type(age)

str

In [103]:
age

'18'

In [104]:
age=int(age)+2

In [105]:
age

20

In [106]:
#age를 입력할 때 숫자열로 넣고 싶으면
name=input('이름을 입력')
age=int(input('나이를 입력'))

이름을 입력홍길동
나이를 입력18

In [107]:
age+=2

In [108]:
age
#복합연산자가 가능해짐!

20

In [111]:
a=int(input())
b=int(input())
c=a-b
print(a,b,c)
print(a)
print(b)
print(c)

9
5
9 5 4
9
5
4

In [112]:
#다음줄로 넘어가는 대신 공백이 출력되기를 원한다면
print(b,end='')
print(c)

54

In [113]:
name = '홍길동'
age = 30

greeting = f"안녕하세요. 제 이름은 {name}이고 나이는 {age}세입니다."
print(greeting)

print(f"내년에는 {age+1}세가 됩니다.")

#에프 스트링(f-string)의 기능: f하고 따옴표 안의 기능 프린트. 변수는 {}중괄호로 변환.
#f가 없으면 단어 하나하나 따옴표를 써줘야 한다. f-string이 훨씬 편하다는 점.

안녕하세요. 제 이름은 홍길동이고 나이는 30세입니다.
내년에는 31세가 됩니다.

In [ ]:
pi=3.14519
r=